.window{
  width: 100%;
  height: 100vh;
  margin: auto;
  min-width: 800px;

  -webkit-box-shadow: 0px 0px 166px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 166px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 166px 0px rgba(0,0,0,0.75);
}


.leftBox{

  height: 100vh;
  min-width: 200px;
  background-color:white;
  float: left;
}

.rightBox{
  height: 100vh;
  width: calc(100% - 200px);
  background-color: #282c34;
  float: right;
}


.title{
  text-align: center;
  padding: 70px;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 2px;
  color: white;
}

.addListButton{
  margin: auto;
  margin-bottom: 20px;
  border: none;
  padding: 10px;
  width: 140px;
  height: 80px;
  border-radius: 15px;
  color: white;
  font-weight: 500;

  background: #b92b27;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #1565C0, #b92b27);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #1565C0, #b92b27); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}


.addListButton:hover{

  cursor: pointer;
  background: #b92b27;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0e3162, #641616);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #1347af, #791818); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}


.buttonWrapper{
  text-align: center;
}

.plus{
  font-size: 30px;
}

.taskWrapper{
  width: 300px;
  height: auto;
  margin: auto;
  margin-top: 40px;
  transition: 0.3s;
}


.task{

  width: 100%;
  background-color: #61dafb;
  border: 1px solid;
  border-radius: 15px;
  margin-bottom: 10px;
  border: none;
}


.taskTitle{
  padding: 10px;
  width: 210px;
  display: inline-block;
  box-sizing: border-box;
}

.unfinishedTask{
  color: #641616;
}

.finishedTask{
  color: darkgreen;
}


.taskOptions{
  padding: 10px;
  width: 90px;
  display: inline-block;
  box-sizing: border-box;
  border-radius: 15px;
  font-size: 25px;
  font-weight: 800;
  text-align: center;
  cursor: pointer;
}

.taskOptions:hover{
  background-color: white;
}

.editTaskListWrapper{
  margin-top: 30px;
  padding: 5px;
}

.editTaskList{
  text-align: center;
  font-size: 12px;
  width: 100px;
  margin: auto;
  padding: 5px;
  cursor: pointer;
  text-decoration: none;
  color: #b1ac98;
  font-weight: 600;
}

.editTaskList:hover{
  color:white;
}

Link{
  text-decoration: none;
}

.backButtonWrapper{
  margin-top: 25px;
}

.backButton{
  border: 2px solid;
  width: 110px;
  text-align: center;
  padding: 8px;
  border-radius: 5px;
  margin: auto;
  color:white;
  cursor: pointer;
}

.backButton:hover{
  color: #535353;
}